html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1066px;
}

.el-breadcrumb{
    margin-bottom: 15px;
}

.el-table {
  margin: 15px 0;
}

.el-cascader-panel {
  height: 300px;
}

.el-step__title {
  font-size: 12px!important;
} 

.cell {
  font-size: 12px;
}